# fly.toml app configuration file generated for sample-cicd on 2026-02-25T05:55:07Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'sample-cicd'
primary_region = 'ams'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[checks]
  [checks.hello]
    type = "http"
    interval = "10s"
    timeout = "2s"
    method = "get"
    path = "/hello"
    protocol = "http"
    grace_period = "5s"
    restart_limit = 0

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256