name: Manual Build

on:
  workflow_dispatch:
    inputs:
      env:
        type: choice
        required: true
        options:
          - dev
          - staging
          - production

jobs:
  build:
    runs-on: ubuntu-latest
    environment: ${{ inputs.env }}

    steps:
      - uses: actions/checkout@v3

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable

      - run: sudo apt-get update && sudo apt-get install -y musl-tools

      - run: rustup target add x86_64-unknown-linux-musl

      - name: Build
        env:
          CC_x86_64_unknown_linux_musl: musl-gcc
        run: cargo build --target x86_64-unknown-linux-musl --release

      - uses: actions/upload-artifact@v4
        with:
          name: rust-rest-api
          path: target/x86_64-unknown-linux-musl/release/rust_rest_api

      - name: Install Flyctl
        run: curl -L https://fly.io/install.sh | sh

      - run: echo "$HOME/.fly/bin" >> $GITHUB_PATH

      - name: Write .env
        run: |
          cat > .env <<EOF
          ENVIRONMENT_NAME=${{ vars.ENVIRONMENT_NAME }}
          EOF

      - name: Deploy
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
        run: flyctl deploy --config fly.toml --remote-only
